Options -Indexes

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "^(composer\.(json|lock)|artisan|phpunit\.xml|package(-lock)?\.json|vite\.config\.js)$">
    Require all denied
</FilesMatch>
